<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes Tecnológicos</title>
</head>

<body>
    <section>
        <a href="/"><h4>Volver a Home</h4></a>
        <h1>Berners-Lee</h1>
        <img width="155" height="185" src="/img/berners-lee.jpg" alt="Berners-Lee">
        <p><b>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet. Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML</b></p>
        <h1><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">Presiona para saber más de Berners-Lee</a></h1>
    </section>
    <section>
        <h2>↓ ↓ Explorar a otros Heroes ↓ ↓</h2>
        <ul>
            <li><a href="/babbage">Babbage</a></li><br>
            <li><a href="/clarke">Clarke</a></li><br>
            <li><a href="/hamilton">Hamilton</a></li><br>
            <li><a href="/hopper">Hopper</a></li><br>
            <li><a href="/lovelace">Lovelace</a></li><br>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </section>
    <style>
        section {
            display: inline-table;
            width:30%;
            padding-left: 15%;
        };
    </style>
</body>
</html>