<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes Tecnológicos</title>
</head>
<body>
    <section>
        <a href="/"><h4>Volver a Home</h4></a>
        <h1>Joan Clarke</h1>
        <img width="155" height="185" src="/img/clarke.jpg" alt="Clarke">
        <p><b>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 - Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial. Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</b></p>
        <h1><a href="https://es.wikipedia.org/wiki/Joan_Clarke" target="_blank">Presiona para saber más de Joan Clarke</a></h1>
    </section>
    <section>
        <h2>↓ ↓ Explorar a otros Heroes ↓ ↓</h2>
        <ul>
            <li><a href="/babbage">Babbage</a></li><br>
            <li><a href="/berners-lee">Berners-Lee</a></li><br>
            <li><a href="/hamilton">Hamilton</a></li><br>
            <li><a href="/hopper">Hopper</a></li><br>
            <li><a href="/lovelace">Lovelace</a></li><br>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </section>
    <style>
        section {
            display: inline-table;
            width:30%;
            padding-left: 15%;
        };
    </style>
</body>
</html>