<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes Tecnológicos</title>
</head>

<body>
    <h1 align="center">Heroes</h1>
    <p><b>Este sitio busca mostrar de manera simple la información de las Heroínas y los Héroes Tecnológicos más representativos del ámbito de la programación.</b></p><br>
    <h3 align="center">↓ ↓ ↓ Presiona sobre alguna imagen ↓ ↓ ↓</h3><br>
        <section>
            <a href="/babbage"><img width="155" height="185" src="/img/babbage.jpg" alt="babbage"></a>
            <h3>Babbage</h3>
        </section>
        <section>
            <a href="/berners-lee"><img width="155" height="185" src="/img/berners-lee.jpg" alt="berners-lee"></a>
            <h3>Berners-Lee</h3>
        </section>
        <section>
            <a href="/turing"><img width="155" height="185" src="/img/turing.webp" alt="turing"></a>
            <h3>Turing</h3>
        </section>
        <section>
            <a href="/clarke"><img width="155" height="185" src="/img/clarke.jpg" alt="clarke"></a>
            <h3>Clarke</h3>
        </section>
        <section>
            <a href="/hamilton"><img width="155" height="185" src="/img/hamilton.jpg" alt="hamilton"></a>
            <h3>Hamilton</h3>
        </section>
        <section>
            <a href="/hopper"><img width="155" height="185" src="/img/hopper.jpg" alt="hopper"></a>
            <h3>Hopper</h3>
        </section>
        <section>
            <a href="/lovelace"><img width="155" height="185" src="/img/lovelace.jpg" alt="lovelace"></a>
            <h3>Lovelace</h3>
        </section>
    <style>
        section {
            display: inline-block;
            width: 155;
        };
    </style>
</body>
</html>